/* -----------------   Texte   ------------------ */

/* H1 Logo - Russo one 72 */

h1, .h1 {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 87px;
    color: #FF0000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    margin-left: 80px;
}

/* H2 - Open sans light 48 */

h2, .h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    color: #3A3A3A;
}

/* H3 - Open Sans ExtraBold 30 BLACK */

h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}

/* H4 - Open Sans ExtraBold 30 BLUE */

h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #0066cc;
}

/* H6 - Open Sans Regular 24 */

h6, .h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #3A3A3A;
}

p, td, .texte {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    text-align: justify;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

.mukta {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: bold;
}

/* --------------  CLASSES UTILES --------------- */

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.under-border {
    border-bottom: 4px solid #3A3A3A;
    max-width: 1322px;
}

.body-background {
    background: linear-gradient(145.16deg, #ECF0F1 0%, #FFFFFF 100%);
}

.image {
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.grid-gap {
    display: grid;
    gap: 30px;
}

.center {
    display: block;
    margin: 0 auto;
}

.max-width {
    max-width: 100%;
}

/* --------  margin et ajustement ---------- */

.margin-L150 {
    margin-left: 220px;
}

.margin-top80 {
    margin-top: 80px;
}

.margin-bottom80 {
    margin-bottom: 80px;
}

.margin-TL30 {
    margin: 30px 0 0 30px;
}

.margin-s30 {
    margin-left: 30px;
    margin-right: 30px;
}

.h2-margin-L60 {
    margin-left: 60px;
}

.padding-80-30 {
    padding: 80px 30px;
}

.texte-align-right {
    text-align: right;
}

.texte-align-center {
    text-align: center;
}

/*---------- HEADER SUR TOUTES LES PAGES ---------*/

.nav-texte {
    font-size: 24px;
    line-height: 27px;
    color: #3A3A3A;
    text-decoration: none;
}

.nav-background {
    margin-top: 58px;
    background: linear-gradient(180deg, rgba(58, 58, 58, 0.61) 0%, rgba(236, 240, 241, 0.65) 28.65%, rgba(210, 210, 210, 0.65) 97.92%);
}

.nav-bar {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-links {
    display: flex;
    margin-left: 150px;
}

.nav-a {
    display: flex;
    margin: 25px;
}

nav>ul>li>a, nav>ul>li>a:active, nav>ul>li>a:visited, nav>ul>li>a:focus {
    color: #3A3A3A;
}

nav>ul>li>a:hover {
    color: #ff0000;
}

/*--------------------- MAIN ---------------------*/

/*------------  Acceuil-actualité web  ----------*/

.grid-container1 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 162px);
    max-width: 1440px;
}

.item {
    display: grid;
    align-self: end;
    border-radius: 20px;
    max-height: 100%;
    max-width: 100%;
}

.p-nouvelle {
    font-size: 16px;
    max-width: 401px;
    line-height: 18px;
}

.texte-nouvelle {
    margin: 0 0 30px 10px;
    align-self: end;
}

.bs100 {
    background-size: 100%;
}

#image-nouvelle1 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_01_news1.jpg');
}

.boite-nouvelle1 {
    grid-column: 1/7;
    grid-row: 1/4;
}

#image-nouvelle2 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_02_news2.jpg');
}

.boite-nouvelle2 {
    grid-column: 1/3;
    grid-row: 4/7;
}

#image-nouvelle3 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_03_news3.jpg');
}

.boite-nouvelle3 {
    grid-column: 3/5;
    grid-row: 4/7;
}

#image-nouvelle4 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_04_news4.jpg');
}

.boite-nouvelle4 {
    grid-column: 5/7;
    grid-row: 4/7;
}

#image-nouvelle5 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_05_news5.jpg');
}

.boite-nouvelle5 {
    grid-column: 1/3;
    grid-row: 7/10;
}

#image-nouvelle6 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_06_news6.jpg');
}

.boite-nouvelle6 {
    grid-column: 3/5;
    grid-row: 7/10;
}

#image-nouvelle7 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_07_news7.jpg');
}

.boite-nouvelle7 {
    grid-column: 5/7;
    grid-row: 7/10;
}

#image-nouvelle8 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_08_news8.jpg');
}

.boite-nouvelle8 {
    grid-column: 1/3;
    grid-row: 10/13;
}

#image-nouvelle9 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_09_news9.jpg');
}

.boite-nouvelle9 {
    grid-column: 3/5;
    grid-row: 10/13;
}

#image-nouvelle10 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(169, 214, 255, 0.75) 95.21%), url('../Img/Img_web/1accueil_10_news10.jpg');
}

.boite-nouvelle10 {
    grid-column: 5/7;
    grid-row: 10/13;
}

/*------------  Acceuil-le fondateur  ------------*/

.grid-container2 {
    grid-template-columns: repeat(6, 205px);
    grid-template-rows: repeat(3, 162px);
}

.item-fondateur {
    grid-column: span 3;
    grid-row: span 3;
}

/*------------- Acceuil-La vie au bureau  --------*/

.grid-container3 {
    grid-template-columns: repeat(6, 205px);
    grid-template-rows: repeat(2, 162px);
}

.item-texte-lavie {
    grid-column: span 6;
    grid-row: span 2;
}

.grid-container4 {
    display: grid;
    grid-template-columns: repeat(6, 205px);
    grid-template-rows: repeat(2, 162px);
    grid-gap: 0 30px;
}

.item-image-lavie1 {
    grid-column: 1;
    grid-row: 1;
}

.item-image-lavie2 {
    grid-column: 1;
    grid-row: 2;
}

.item-image-lavie3 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.item-image-lavie4 {
    grid-column: 4;
    grid-row: 1;
}

.item-image-lavie5 {
    grid-column: 4;
    grid-row: 2;
}

.item-image-lavie6 {
    grid-column: 5/7;
    grid-row: 1;
}

/*----------------- NOS SERVICES -----------------*/

.grid-container-service {
    grid-template-columns: repeat(6, 1fr);
}

.grid-container-5rows {
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 60px;
}

.item-services-gauche {
    grid-column: 2/4;
}

.item-services-droite {
    grid-column: 4/6;
}

.center-grid {
    align-self: start;
    justify-self: center;
}

.center-grid>p {
    padding-top: 30px;
}

/*-------------- Page NS_hébergement -------------*/

.blue-box {
    background-color: #A9D6FF;
}

.grid-container {
    grid-template-columns: repeat(6, 1fr);
}

.item-hebergement-gauche {
    grid-column: 1/3;
}

.item-hebergement-centre {
    grid-column: 3/5;
}

.item-hebergement-droite {
    grid-column: 5/7;
}

.blue-box>h2 {
    font-weight: bold;
}

/*----------- Page NS_Gestion de projet-----------*/

.item-gestion-gauche {
    grid-column: 1/3;
}

.item-gestion-droite {
    grid-column: 3/7;
}

/*-------- Page NS_dev_web et dev logiciel -------*/

table {
    display: block;
    border-collapse: collapse;
    width: 1440 px;
    margin: 80 auto 80 auto;
}

.firstrow td:nth-child(2n+2) {
    border-top: none;
}

td {
    border: 3px solid black;
    padding: 5px;
    min-width: 30px;
    max-width: 675px;
    text-align: center;
}

tr:nth-child(2n+2) {
    box-shadow: inset 4px 4px 10px #0066CC;
}

tr:nth-child(2n+2)>td:nth-child(2n+1) {
    text-align: justify;
}

tr:nth-child(2n+2)>td:last-child {
    text-align: center;
    vertical-align: bottom;
}

td:first-child {
    max-width: 440px;
}

td:last-child {
    min-width: 200px;
}

/* ---------------- NOS REALISATION ------------- */

.texte-realisations {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.realisations-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 200px);
    align-items: end;
}

.realisations-grid-image1 {
    grid-column: 1/3;
    grid-row: 2;
}

.realisations-grid-image2 {
    grid-column: 3;
    grid-row: 2;
}

.realisations-grid-image3 {
    grid-column: 4/7;
    grid-row: 2;
}

.realisations-grid-image4 {
    grid-column: 1/3;
    grid-row: 4;
    align-content: center;
}

.realisations-grid-image5 {
    grid-column: 3;
    grid-row: 4;
}

.realisations-grid-image6 {
    grid-column: 4/6;
    grid-row: 4;
}

.realisations-grid-image7 {
    grid-column: 6;
    grid-row: 4;
}

.realisations-grid-image8 {
    grid-column: 1/3;
    grid-row: 6;
}

.realisations-grid-image9 {
    grid-column: 3/5;
    grid-row: 6;
}

.realisations-grid-image10 {
    grid-column: 5/7;
    grid-row: 6;
    align-content: center;
}

/* --------------- NOUS CONTACTER --------------- */

.grid-contact {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-info-col1 {
    grid-column: 1/4;
}

.grid-info-col2 {
    grid-column: 4/7;
}

.texte-contact {
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    color: #3A3A3A;
    margin-left: 170px;
}

.titre-contact {
    margin: 65px 0 0 70px;
}

.input {
    background: #ECF0F1;
    box-shadow: inset 4px 4px 10px -2px #0066CC;
    border-radius: 4px;
    border: 0px;
    width: 627px;
    height: 64px;
    margin: 8px 0 30px 0;
    padding-left: 20px;
    font-size: 16px;
}

.textarea {
    padding: 20px;
    height: 253px;
}

.label {
    margin-left: 20px;
}

.soumettre {
    color: white;
    background-color: #0066CC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 226px;
    height: 64px;
    margin-left: 430px;
}

.error-list-none {
    display: none;
}

.error-list-visible {
    margin: 10px 0 0 70px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: red;
    display: block;
}

.input-error {
    box-shadow: inset 4px 4px 10px -2px #cc0000;
}

/*---------- FOOTER SUR TOUTES LES PAGES----------*/

.footer-background {
    min-height: 273px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.26) 5.68%, rgba(1, 1, 1, 0) 77.38%);
}

.footer-p {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #3A3A3A;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-end;
    margin: 160px 0 0 0;
    height: 170px;
}

.adresse {
    margin: 13px 0 0 10px;
    display: flex
}

.media-sociaux {
    display: flex;
    justify-content: space-around;
    width: 453px;
    margin-left: 133px;
}

.p-droits {
    text-align: center;
    color: #3A3A3A;
    margin-top: 60px;
}

/*----------------  MEDIA QUERIES  ---------------*/

/*---------- FOOTER SUR TOUTES LES PAGES----------*/

@media screen and (max-width: 1440px) {
    /* --------------  CLASSES UTILES --------------- */
    .wrapper {
        max-width: 960px;
        margin: 0 auto;
    }
    .under-border {
        max-width: 882px;
    }
    /*---------- HEADER SUR TOUTES LES PAGES ---------*/
    .nav-bar {
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav-links {
        margin-left: 0px !important;
        align-items: center;
        margin: 0;
        justify-content: center;
    }
    .nav-a {
        display: flex;
        margin: 25px;
    }
    h1, .h1 {
        justify-self: center;
        text-align: center;
        margin: 0px !important;
    }
    /*------------  Acceuil-actualité web  ----------*/
    .grid-container1 {
        grid-template-columns: repeat(4, 205px);
        grid-template-rows: repeat(17, 162px);
        grid-gap: 30px;
    }
    .boite-nouvelle1 {
        grid-column: 1/5;
        grid-row: 1/3;
    }
    .boite-nouvelle2 {
        grid-column: 1/3;
        grid-row: 3/6;
    }
    .boite-nouvelle3 {
        grid-column: 3/5;
        grid-row: 3/6;
    }
    .boite-nouvelle4 {
        grid-column: 1/3;
        grid-row: 6/9;
    }
    .boite-nouvelle5 {
        grid-column: 3/5;
        grid-row: 6/9;
    }
    .boite-nouvelle6 {
        grid-column: 1/3;
        grid-row: 9/12;
    }
    .boite-nouvelle7 {
        grid-column: 3/5;
        grid-row: 9/12;
    }
    .boite-nouvelle8 {
        grid-column: 1/3;
        grid-row: 12/15;
    }
    .boite-nouvelle9 {
        grid-column: 3/5;
        grid-row: 12/15;
    }
    .boite-nouvelle10 {
        grid-column: 1/3;
        grid-row: 15/18;
    }
    /*------------  Acceuil-le fondateur  ------------*/
    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(4, 205px);
        grid-template-rows: repeat(3, 205px);
        grid-gap: 30px;
    }
    .item-fondateur {
        display: grid;
        grid-column: span 2;
    }
    .item-fondateur>img {
        align-self: center;
    }
    /*------------- Acceuil-La vie au bureau  --------*/
    .grid-container3 {
        grid-template-columns: repeat(4, 205px);
        grid-template-rows: repeat(2, 205px);
    }
    .item-texte-lavie {
        grid-column: span 4;
        grid-row: span 2;
    }
    .grid-container4 {
        grid-template-columns: repeat(4, 205px);
        grid-template-rows: repeat(3, 162px);
    }
    .item-image-lavie1 {
        grid-column: 1;
        grid-row: 1;
    }
    .item-image-lavie2 {
        grid-column: 1;
        grid-row: 2;
    }
    .item-image-lavie3 {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .item-image-lavie4 {
        grid-column: 4;
        grid-row: 1;
    }
    .item-image-lavie5 {
        grid-column: 4;
        grid-row: 2;
    }
    .item-image-lavie6 {
        grid-column: 2/4;
        grid-row: 3;
    }
    /*---------- FOOTER SUR TOUTES LES PAGES----------*/
    .footer-container {
        justify-content: space-between;
    }
    .footer-container {
        justify-content: center;
    }
}

@media screen and (max-width: 960px) {
    /*---------- HEADER SUR TOUTES LES PAGES ---------*/
    .nav-bar {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
    }
    .nav-a {
        justify-self: center;
        margin: 0px;
    }
    .h2-margin-L60 {
        margin-left: 40px;
    }
    .h2 {
        text-align: center;
    }
    .h2>img {
        display: none;
    }
    /*-----  Acceuil-actualité web  -----*/
    .grid-container1 {
        grid-template-columns: repeat(2, 205px);
        grid-template-rows: repeat(30, 162px);
        justify-content: center;
    }
    #image-nouvelle1 {
        background-position: center;
        background-size: auto 560px;
    }
    .boite-nouvelle1, .boite-nouvelle2, .boite-nouvelle3, .boite-nouvelle4, .boite-nouvelle5, .boite-nouvelle6, .boite-nouvelle7, .boite-nouvelle8, .boite-nouvelle9, .boite-nouvelle10 {
        grid-column: 1/3;
    }
    .boite-nouvelle1 {
        grid-row: 1/4;
    }
    .boite-nouvelle2 {
        grid-row: 4/7;
    }
    .boite-nouvelle3 {
        grid-row: 7/10;
    }
    .boite-nouvelle4 {
        grid-row: 10/13;
    }
    .boite-nouvelle5 {
        grid-row: 13/16;
    }
    .boite-nouvelle6 {
        grid-row: 16/19;
    }
    .boite-nouvelle7 {
        grid-row: 19/22;
    }
    .boite-nouvelle8 {
        grid-row: 22/25;
    }
    .boite-nouvelle9 {
        grid-row: 25/28;
    }
    .boite-nouvelle10 {
        grid-row: 28/31;
    }
    /*------------  Acceuil-le fondateur  ------------*/
    .grid-container2 {
        grid-template-columns: repeat(2, 205px);
        grid-template-rows: repeat(6, 162px);
        justify-content: center;
    }
    .item-fondateur {
        grid-column: span 2;
        grid-row: span 2;
        max-width: 100%;
    }
    /*------------- Acceuil-La vie au bureau  --------*/
    .grid-container3 {
        grid-template-columns: repeat(2, 205px);
        grid-template-rows: repeat(4, 162px);
        justify-content: center;
    }
    .item-texte-lavie {
        grid-column: span 2;
        grid-row: span 5;
    }
    .grid-container4 {
        grid-template-columns: repeat(2, 205px);
        grid-template-rows: repeat(6, 162px);
        justify-content: center;
    }
    .item-image-lavie1 {
        grid-column: 1;
        grid-row: 3;
    }
    .item-image-lavie2 {
        grid-column: 2;
        grid-row: 3;
    }
    .item-image-lavie3 {
        grid-column: 1/3;
        grid-row: 1;
    }
    .item-image-lavie4 {
        grid-column: 1;
        grid-row: 4;
    }
    .item-image-lavie5 {
        grid-column: 2;
        grid-row: 4;
    }
    .item-image-lavie6 {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    /*----------------- NOS SERVICES -----------------*/
    .grid-container-service {
        justify-items: center;
        align-items: center;
    }
    .grid-container-5rows {
        grid-template-rows: repeat(10, 1fr);
        grid-row-gap: 20px;
    }
    .item-services-gauche, .item-services-droite {
        grid-column: 2/6;
        margin-top: 0px;
    }
    .item-services-image2 {
        grid-row-start: 4;
    }
    .item-services-image4 {
        grid-row-start: 8;
    }
    .center-grid {
        align-self: center;
        justify-self: center;
    }
    .center-grid>a>h4 {
        text-align: center;
    }
    .center-grid>p {
        padding-top: 30px;
    }
    /*----------- Page NS_Gestion de projet-----------*/
    .item-gestion-gauche, .item-gestion-droite {
        grid-column: 1/7;
    }
    /*--------------- FOOTER --------------*/
    .footer-container {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .adresse {
        margin: 0;
        margin-top: 3%;
    }
    .media-sociaux {
        margin-left: 0px;
        margin-top: 3%;
        max-width: 960px;
    }
    .img-media {
        max-width: 30px;
        max-height: 30px;
    }
}